invoke==2.0.0
dataclasses-json==0.5.7
epitran==1.24
espeak-phonemizer==1.0.1;sys_platform=="linux"
espeak-phonemizer-windows==1.0.1;sys_platform=="win32"
gruut==2.3.4
numpy==1.24.2
onnxruntime==1.14.0
onnxruntime-directml==1.14.0
phonemes2ids==1.2.2
requests==2.28.2
tqdm==4.64.1